* {
    direction: rtl;
    font-size: 20px;
    color: black;
    
}

div{
    padding-top: 20px;
}

.dast{
    font-size: 22px; padding-top: 4px; color: black; font-weight: 100;
}

.menu{
    color: #282b31;
    font-size: 16px; font-weight: 550;
    
}

.top{
    list-style-type: none; font-size: 16px; font-weight: 550;
}