<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">



<div class="panel-group">
    <div class="panel panel-primary" id="form">
        <div class="panel-heading" id="panelh">ثبت نام</div>

        <div class="panel-body" id="panelb">
            <div class="row">
                <div class="col-sm-3">
                    <img src="../../../assets/Rgister-Logo.jpg" style="width: 100px; height: 100px; ">
                </div>
            </div>
            <div class="row" >
                <div class="col-sm-12" style="margin-top: 25px;">
                    <form 
                    (ngSubmit)="onSubmit()"
                        #personForm="ngForm"
                        autocomplete="off"
                        novalidate
                        >
                        <div class="form-group row">
                            <label for="fullName" class="col-form-label col-sm-3" style="margin-top: 10px;">
                               نام و نام خانوادگی

                                <i style="color: red;">*</i>
                            </label>

                            <div class="col-sm-9">
                                <input type="text" id="fullName" name="fullName" class="form-control"
                                    [(ngModel)]="person.fullName" #fullName="ngModel" required minlength="3"
                                    maxlength="20" placeholder="مانند : علی علیزاده" style="margin-top: 10px;" />

                                <div class="alert alert-danger" *ngIf="fullName.invalid && fullName.dirty"
                                    style="direction: rtl;">
                                    <span class="help-block" *ngIf="fullName?.errors?.required">
                                       نام و نام خانوادگی الزامی است!
                                    </span>
                                    <span class="help-block" *ngIf="fullName?.errors?.minlength">
                                       نام و نام خانوادگی میبایست حداقل 3 کاراکتر باشد!
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row" id="password">
                            <label for="password" class="col-form-label col-sm-3">
                                رمز عبور
                                <i style="color: red;">*</i>
                            </label>

                            <div class="col-sm-9">
                                <input type="password" id="password" name="password" [(ngModel)]="person.password"
                                    class="form-control" #password="ngModel" required minlength="8" maxlength="20"
                                     placeholder="مانند : qaz1@WSX"/>

                                <div class="alert alert-danger" *ngIf="password.invalid && password.dirty"
                                    style="direction: rtl;">
                                    <span class="help-block" *ngIf="password?.errors?.required">
                                        رمز عبور الزامی میباشد!
                                    </span>
                                    <span class="help-block" *ngIf="password?.errors?.minlength">
                                        رمز عبور میبایست حداقل 8 کاراکتر باشد!
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="userName" class="col-form-label col-sm-3" style="margin-top: 10px;">
                               نام کاربری

                                <i style="color: red;">*</i>
                            </label>

                            <div class="col-sm-9">
                                <input type="text" id="userName" name="userName" class="form-control"
                                    [(ngModel)]="person.userName" #userName="ngModel" required minlength="3"
                                    maxlength="20" placeholder="مانند : AliAlizade" style="margin-top: 10px;" />

                                <div class="alert alert-danger" *ngIf="userName.invalid && userName.dirty"
                                    style="direction: rtl;">
                                    <span class="help-block" *ngIf="userName?.errors?.required">
                                        نام کاربری الزامی است!
                                    </span>
                                    <span class="help-block" *ngIf="userName?.errors?.minlength">
                                        نام کاربری میبایست حداقل 3 کاراکتر باشد!
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="emailAdress" class="col-form-label col-sm-3" style="margin-top: 10px;">
                               پست الکترونیک 

                                <i style="color: red;">*</i>
                            </label>

                            <div class="col-sm-9">
                                <input type="text"
                                id="emailAdress"
                                name="emailAdress"
                                [(ngModel)]="person.emailAdress"
                                class="form-control"
                                #emailAdress="ngModel"
                                required
                                email
                                maxlength="30"
                                placeholder="مانند : abcd@gmail.com"
                                 style="margin-top: 10px;" />

                                    <div
                                    class="alert alert-danger"
                                    *ngIf="emailAdress.invalid && emailAdress.dirty"
                                  >
                                    <span class="help-block" *ngIf="emailAdress?.errors?.required">
                                      پست الکترونیک الزامی میباشد
                                    </span>
                                    <span
                                      class="help-block"
                                      *ngIf="
                                      emailAdress?.hasError('required') == false &&
                                      emailAdress?.hasError('email')
                                      "
                                    >
                                      لطفا از پست الکترونیک صحیح استفاده نمایید 
                                    </span>
                                  </div>
                                </div>
                              </div>
                        
                        <div class="form-group row">
                            <label for="age" class="col-form-label col-sm-3" style="margin-top: 10px;">
                              سن

                            </label>

                            <div class="col-sm-9">
                                <input type="number" id="age" name="age" class="form-control"
                                    [(ngModel)]="person.age" #age="ngModel" min="15" max="100"
                                    placeholder="15 ~ 100"
                                     style="margin-top: 10px;" />

                                <div class="alert alert-danger" *ngIf="age.invalid && age.dirty"
                                    style="direction: rtl;">
      
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-9 offset-sm-3" id="button">
                                <button type="submit" class="btn btn-success" [disabled]="!personForm.form.valid">
                                    ثبت نام
                                </button>
                                &nbsp;
                                <button type="reset" class="btn btn-danger">
                                    پاک کردن
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>





        </div>

        <div class="panel-footer" id="panelf"><i class='fa fa-user-circle-o'></i><a class="Register" routerLink="/login" routerLinkActive="active" >  وارد شوید </a></div>
    </div>

    <footer style="background-image: linear-gradient(rgba(189, 195, 199, 1),rgba(149, 165, 166, 1)); width: 100%;
    height: 155px;display: block; border-top: solid 0.5px #808082 ; margin-top: 8px;">
        <div class="container-fluid">
            <div class="row" style="float: right; direction: rtl; width: 100%;">
                <div class="col-sm-3">

                    <ul class="top">
                        <li class="dast">دسترسی سریع</li>
                        <li style=" margin-top: 15px;"><a routerLink="/home" routerLinkActive="active"
                                class="menu">خانه</a></li>
                        <li style="padding-top: 2px;"><a routerLink="/gallery" routerLinkActive="active"
                                class="menu">گالری</a></li>
                        <li style="padding-top: 2px;"><a routerLink="/aboutUs" routerLinkActive="active"
                                class="menu">درباره ما</a></li>
                        <li style="padding-top: 2px;"><a routerLink="/contactUs" routerLinkActive="active"
                                class="menu">تماس با ما</a></li>

                    </ul>

                </div>
                <div class="col-sm-3">

                    <p style="padding-top: 2px;" class="tozih">توضیحات محصولات</p>
                    <br>
                    <a href="/aboutUs" class="menu" style="padding-top: 0;">
                        گوشت
                    </a>
                    <br>
                    <a href="/aboutUs" class="menu">
                        پر</a>
                    <br>
                    <a href="/aboutUs" class="menu">
                        چرم</a>
                    <br>
                    <a href="/aboutUs" class="menu">
                        تخم شترمرغ</a>
                </div>
                <div class="col-sm-3">
                    <p style="padding-top: 2px;" class="tozih">آخرین اخبار</p>
                    <a href="www.instagram.com" style="color:rgb(35, 31, 31); font-size: 20px;"><i
                            class="fa fa-instagram" style=" padding-top: 6px;">اینستاگرام</i></a>

                    <br>
                    <a href="www.skype.com" style="color:rgb(35, 31, 31); font-size: 20px;"><i class="fa fa-skype"
                            style=" padding-top: 7px;">
                            اسکایپ
                        </i></a>
                    <br>
                    <a href="www.whatsApp.com" style="color:rgb(35, 31, 31); font-size: 20px;"><i class="fa fa-whatsapp"
                            style=" padding-top: 7px;">
                            واتساپ
                        </i></a>
                </div>
                <div class="col-sm-3">
                    <p class="tozih">این بخش هم میتونه <br>
                        به انتخاب خودمون هر چیزی باشه
                    </p>
                </div>
            </div>

        </div>
    </footer>