<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



    <div class="gallery">
        <ul>
            <li *ngFor="let item of images"><img src="{{item.img}}" class="img">
            </li>
            
        </ul>
        

        
    <div style="background-image: linear-gradient(rgba(189, 195, 199, 1),rgba(149, 165, 166, 1)); width: 100%;
    height: 155px;display: block; border-top: solid 0.5px #808082 ;margin-top: 1488px;">
    <div class="container-fluid">
    <div class="row" style="float: right; direction: rtl; width: 100%;">
        <div class="col-sm-3">
    
            <ul class="top"  >
                <li class="dast">دسترسی سریع</li>
                <li  style=" margin-top: 15px;"><a routerLink="/home" routerLinkActive="active" class="menu" style="display:block;">خانه</a></li>
                <li  style="padding-top: 2px;"><a routerLink="/gallery" routerLinkActive="active" class="menu" style="display:block;">گالری</a></li>
                <li  style="padding-top: 2px;"><a routerLink="/aboutUs" routerLinkActive="active" class="menu" style="display:block;">درباره ما</a></li>
                <li style="padding-top: 2px;"><a routerLink="/contactUs" routerLinkActive="active" class="menu"style="display:block;">تماس با ما</a></li>
                
            </ul>
    
        </div>
        <div class="col-sm-3">
            
            <p style="padding-top: 2px;" class="tozih">توضیحات محصولات</p>
            <br>
            <a href="/aboutUs" class="menu" style="padding-top: 0;">
            گوشت
            </a>
            <br>
            <a href="/aboutUs" class="menu">
            پر</a>
            <br>
            <a href="/aboutUs" class="menu">
            چرم</a>
            <br>
            <a href="/aboutUs" class="menu">
            تخم شترمرغ</a>
        </div>
        <div class="col-sm-3">
            <p style="padding-top: 2px;" class="tozih">آخرین اخبار</p>
            <a href="www.instagram.com" style="color:rgb(35, 31, 31); font-size: 20px;"><i class="fa fa-instagram" style=" padding-top: 6px;">اینستاگرام</i></a>
      
            <br>
            <a href="www.skype.com" style="color:rgb(35, 31, 31); font-size: 20px;"><i class="fa fa-skype" style=" padding-top: 7px;">
            اسکایپ
            </i></a>
            <br>
            <a href="www.whatsApp.com" style="color:rgb(35, 31, 31); font-size: 20px;"><i class="fa fa-whatsapp" style=" padding-top: 7px;">
                واتساپ
                </i></a>
        </div>
        <div class="col-sm-3">
    <p class="tozih">این بخش هم میتونه <br>
    به انتخاب خودمون هر چیزی باشه 
    </p>
        </div>
    </div>
    
    </div>
</div>
    </div>

    